main img, h1{
    display: block;
    padding: 5px;
    margin: 50px auto;
    text-align: center;
}

main img{
    animation: fade 15s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}