:root{
    --primary-color: #66D2CE;
    --secundary-color: #2DAA9E;
    --text-color: black;
    --bg-color: #EAEAEA;

    --text-fontfamily: "Montserrat", sans-serif;
    --text-fontsize: 1rem;
    --heading-fontfamily: "Roboto Mono", sans-serif;
    --heading-fontsize: 1.5rem;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-fontfamily)
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
}

header h1 {
    font-family: var(--heading-fontfamily);
}

.h1-span{
    color: var(--text-color);
    font-weight: 900;
    text-decoration: dotted;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
    background: var(--secundary-color);
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.aboutMe {
    
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center;
    gap: 20px;
}

.card img {
    width: 100%;
    max-width: 150px; 
    border-radius: 8px;
}

h2 {
    background-color: #06668E;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.subheading {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


footer {
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 400;
    padding: 10px;
}

#lastModified{
    font-family: var(--heading-fontfamily);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}
