/* Global */

:root{
    --color1: #FFCC29;
    --color2: #009E60;
    --color3: #002776;
    --color4: #fff;
    --color5: #F4A100;
    --color6: #000;

    --heading-font: "Winky Sans", sans-serif;
    --text-font: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
    color: var(--color6);
    font-size: 1rem;
}

/* Header */

header{
    background-color: var(--color1);
    width: 100%;
}

header h1{
    font-size: 5rem;
    font-family: var(--heading-font);
    color: var(--color3);
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Main */

.aLittle-green{
    background-color: var(--color2);
    padding: 10px;
    width: 100%;
}


.overlap-container {
    position: relative;
}

.overlap-container img {
    display: block;
    width: 100%;
    height: 600px;
}

.data-section,
.weather-section {
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    opacity: 1;
}


.data-section{
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    
}

.data-title{
    font-size: 2rem;
    font-family: var(--heading-font);
    font-weight: bold;
    background-color: var(--color5);
    color: var(--color3);
    padding: 10px;
    width: 100%;
    position: relative;
    right: 1.5rem;
    border-radius: 5px;
}

.data-item{
    padding: 8px;
    font-weight: bolder;
}

.data-item span{
    font-weight: normal;
}

.weather-section {
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    right: 5%;
    left: auto;
}

.weather-title{
    font-size: 2rem;
    font-family: var(--heading-font);
    font-weight: bold;
    background-color: var(--color5);
    color: var(--color3);
    padding: 10px;
    width: 100%;
    position: relative;
    right: 1.5rem;
    border-radius: 5px;
}

.weather-title::after{
    content: "🌧️"; 
    margin: 10px;
}

.weather-icon img{
    display: none;
    
}

.weather-item{
    padding: 10px;
    font-weight: bolder;
}

.weather-item span{
    font-weight: normal;
}

/* Footer */

footer{
    background-color: var(--color1);
    width: 100%;
    padding: 10px;
    text-align: center;
}

footer p{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--heading-font);
    color: var(--color6);
}

@media screen and (max-width: 1000px) {
    .weather-section{
        top: 40%;
    }
    
}