:root{
    --primary-color: #66D2CE;
    --secundary-color: #519E8A;
    --accent1-color: #333333;
    --accent2-color: #06668E;
    --accent3-color: #EAEAEA;
    --text-color: #000;

    --fontFamily-primary: "Poppins", sans-serif;
    --fontFamily-secundary: "Roboto", monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily-primary);
    font-size: 1rem;
}

html{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--accent3-color);
    color: var(--accent1-color);
    width: 100%;
}

header{
    background-color: var(--primary-color);
    color: var(--accent3-color);
    width: 100%;
}

header h1{
    font-size: 3rem;
    font-family: var(--fontFamily-secundary);
    text-decoration:underline;
    color: var(--text-color);
    padding: 10px;
    text-align: center;
}

nav{
    background-color: var(--accent1-color);
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px 0;
}

nav ul{
    list-style: none;
    text-align: center;
    justify-content: space-around;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav a:hover{
    color: var(--secundary-color);
    text-decoration: underline;
}

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

nav.hidden {
    display: none;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

main h1{
    font-family: var(--fontFamily-secundary);
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

.container figure img{ 
    width: 100%;
    height: auto;
    margin: .5rem;
}

.brazil{
    width: 30px;
    height: 20px;
}

.container figure figcaption{
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 2rem;
    width: 100%;
}

footer p{
    color: var(--text-color);
    font-size: 1.2rem;
}

@media screen and (max-width: 1300px) {

    header h1{
        display: flex;
        position: left;
        font-size: 3rem;
        font-family: var(--fontFamily-secundary);
        text-decoration:underline;
        color: var(--text-color);
        padding: 10px;
        text-align: center;
    }

    #menu {
        display: block;
    }

    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❌";
    }

    nav.hidden {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main h1{
        font-family: var(--fontFamily-secundary);
        color: var(--text-color);
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        margin-top: 50px;
    }

    .container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
    }
}

@media screen and (min-width: 1301px) {
    nav.hidden {
        display: flex;
    }

}

@media screen and (max-width: 1300px) {

    header h1{
        display: flex;
        position: left;
        width: 30%;
        font-size: 2rem;
        font-family: var(--fontFamily-secundary);
        text-decoration:underline;
        color: var(--text-color);
        padding: 10px;
        text-align: center;
    }

    nav ul{
        width: 100%;
    }

    nav ul li{
        padding: 10px;
    }

    nav ul li a{
        font-size: 1.2rem;
    }

    .container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
    }
    
}

@media screen and (max-width: 400px) {

    header h1{
        display: flex;
        position: left;
        font-size: 1.5rem;
        font-family: var(--fontFamily-secundary);
        text-decoration:underline;
        color: var(--text-color);
        padding: 10px;
        text-align: center;
    }

    #menu {
        display: block;
    }

    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❌";
    }

    nav.hidden {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main h1{
        font-family: var (--fontFamily-secundary);
        color: var(--text-color);
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        margin-top: 50px;
    }

    .container{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .container figure img{ 
        width: 100vw;
        height: 250px;
        margin: .5rem;
    }
}
